<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="niit.com.homework">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZY0603_Timetable">
        <activity android:name="niit.com.homework.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="niit.com.homework.activity.CheckCourseActivity"
            android:label="查看课程"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <activity
            android:name="niit.com.homework.activity.AddCourseActivity"
            android:label="添加课程"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
    </application>

</manifest>